body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    
}
.hero {
  background-image: url('images/fondo1.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
footer {
  background: linear-gradient(180deg, #111, #000);
  color: #fff;
}

footer h5 {
  font-weight: 600;
}

footer a:hover {
  color: #ffc107;
  text-decoration: none;
}

